@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@0;1&family=Lato:ital,wght@0,700;1,700&family=Playpen+Sans:wght@400;700&family=Raleway:ital,wght@0,700;1,800&display=swap');

:root {
  --container-bg: rgba(38, 38, 38, .98);
  --container-font-color: rgba(191, 191, 191, 98);
  --shadow: 0 .4rem .8rem rgba(255, 255, 255, .3);
  --bdrs: .5rem;
  --remaining-color: rgb(61, 97, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
  background: url("/assets/img/text-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: var(--container-bg);
  color: var(--container-font-color);
  box-shadow: var(--shadow);
  border-radius: var(--bdrs);
}

.main-heading {
  margin: 3rem auto;
  border-bottom: .3rem solid #fff;
  padding: 0.5rem;
}

textarea {
  width: 90%;
  padding: 1rem;
  font-style: italic;
  background-color: rgba(217, 217, 217, .98);
  border: none;
  color: var(--container-bg);
}

.p-wrapper {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  margin: 2.5rem auto 1.5rem auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
  border: .3rem solid #fff;
  border-radius: var(--bdrs);
}

p {
  display: inline-block;
}

.total {
  color: rgb(5, 216, 5);
}

.remaining {
  color: var(--remaining-color)
}